@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BarKeep</h1>
    <p class="lead">BarKeep is a (very) simple web app for keeping track of bar inventory and product information. Check back soon for more features!
     Click on Over View to get started tracking your bar.
    </p>
    
</div>


</div>